
extends default
prepend content 


              
    //- .masthead.jumbotron 
    //-     .container      
    //-           h1 clean slate 
    //-           p clean slate for web apps 
    //-           a.btn.btn-small.btn-success(href="github-mac://openRepo/https://github.com/vzaccaria/cleanslate") Clone on Github


    //- End: Exactly as bootstrap

    .container.under-the-jumbotron(ng-app='application')
        .span12(ng-controller='appCtrl')
          .row 
              #mainsvg.span12(ng-include="'img/main-angular.svg'", onload="renderAfterInclude()")
 prepend post-init
  script

            







